/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.half {
  min-height: 50%;
  height: 50%;
  overflow-y: scroll;
}

.campaignsGrid {
  display: table;
  width: 100%;
  table-layout: fixed
}

.campaignsGridColumn {
  display: table-cell;
  width: 100%;
}

.campaignsGridColumnItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.selected {
    background-color: #2176ff !important;
    color: white;
  }
  &.hovered {
    background-color: #d5d5d5;
  }
}

.columnHeader {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #d5d5d5!important;
}