<!DOCTYPE html>
<html>
<head>
  <title>AqMockup</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'pages', type: 'text/jsx' %>
  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>

</body>
</html>
